@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1d1d1d;
  font-family: "Poppins", sans-serif;
}

td {
  padding: 0px !important;
}
.mantine-1tu5ydr > tbody > tr > {
  border: 0 !important;
}
.mantine-1tu5ydr > thead > tr > th {
  border: 0 !important;
}
.mantine-1tu5ydr > tbody > {
  border: 0 !important;
}
.mantine-1tu5ydr > tbody > tr > td {
  border: 0 !important;
}
.mantine-1tu5ydr[data-hover] > tbody > tr:hover {
  background-color: transparent !important;
}

.field-bg {
  background: url("../public/image/Field.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.mantine-1tu5ydr[data-striped] > tbody > tr:nth-of-type(odd) {
  background-color: transparent !important;
}

.mantine-1tu5ydr > thead > tr > th {
  padding: 0 !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}
.ReactModal__Overlay {
  background-color: rgb(39 36 36 / 70%) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.tableList::-webkit-scrollbar {
  width: 5px !important;
  display: block !important;
  overflow-y: scroll !important;
  overflow: visible !important;
}

.tableList::-webkit-scrollbar {
  background-color: rgba(87, 87, 87, 0.716) !important;
}
.tableList::-webkit-scrollbar-thumb {
  background-color: white !important;
  border-radius: 5px;
}

.table-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.table-loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.table-loader div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.table-loader div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.table-loader div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.table-loader div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
